#wetter {           /* mit dem # sprechen wir genau die "wetter" Klasse an! */
    background-color: #666666; /* Grauer Hintergrund -> Box */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    color: white;       /* Schrift Farbe */
    width: 95%; /* Begrenzt auf 50% der Bildschirmbreite */
    margin: 0 auto; /* Zentriert die Box horizontal */

  }



  #ort{
    font-size: 45px;
    border-bottom: 1px solid rgb(255, 255, 255);    /* Unterstrich unter der Stadt */
  }








  /* Responsive Web Design */

/* mittlere Bildschirme: Etwas runterskalieren */
@media screen and (min-width: 620px) and (max-width: 1024px){
    #ort{
        font-size: 30vw;
    } 
    #temperature, #beschreibung, #uhrzeit{
        font-size: 10vw;
    }

  }
  
  /* kleine Bildschirme: weit runter skalieren */
  @media screen and (max-width: 620px){
    #Ort{
        font-size: 15vw;
    } 
    #temperature, #beschreibung, #uhrzeit{
        font-size: 10vw;
    }

  }