/* Container für die einzelnen Felder/Boxen, die Bild und Text beinhaltet */
.ort-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;                /* row heißt, dass sie nebeneinander gereiht werden */
    margin: 0;                          /* margin auf 0, damit zwischen den einzelnen Elementen (hier: Ort-Containern) kein Abstand zueinander ist. Die ort-boxen haben selbst schon eine margin, die regelt die Abstände */
}

/* Container für eine Box, die eine Überschrift, einen Text und ein Bild enthält */
.ort-box {
    width: auto; 
    height: auto;
    margin: 20px;   /* Abstand zwischen den einzelnen Boxen, also von der Boxgrenze bis zur nächsten Boxgrenze */
    padding: 4%;    /* Abstand innerhalb der Box (bzw optisch der Boxlinien) zu Bild und Text */
    border: 2px solid #ddd;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.ort-box img {
    max-width: 100%;
    height: auto;
} 


@media screen and (max-width: 900px){

    .ort-container{     
        flex-direction: column;         /* damit nur mehr je ein Einzel-Container angezeigt wird statt 2 */
    }

    .ort-box{
        margin: 5%;         /* der Abstand zwischen den einzelnen Ort-Boxen. 5%, sodass sie nicht direkt aneinander anschließen */
        
    }
}






/* restliches Design: */
/* Container für den Inhalt (Text, Bilder, Überschriften, ...). */
.inhalt_container {
    max-width: 60%; 
    margin: 0 auto; /* Margin ist der Abstand des Containers nach außen. 0 setzt den Rand oben und unten auf 0, auto setzt den Rand links und rechts auf automatisch */
    padding: 20px; /* Innenabstand des Containers */
    
    /* Ausrichtungseinstellungen */
    display: flex;              /* damit wird jedes Element als Flexbox betrachtet */
    flex-direction: column;     /* die Flexbox Elemente sollen untereinander, als Säule, angeordnet werden */
    justify-content: center;    /* Elemente sind horizontal mittig platziert (Wichtig bei Überschriften, Bildern, ...) */
    align-items: center;        /* Ordnet die Elemente auf vertikaler Ebene mittig an */

    /* Dekorations-Linien links und rechts */
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(3, 3, 3)
  }

  /* bestimmt alle Bilder innerhalb des Containers. Außerdem: gewichtiger als die Größenfestlegung in der HTML Datei */
  .inhalt_container img{
    width: 100%;     /* Damit sich das Bild anpasst: die Prozentangabe!  */
    height: auto;
    margin-bottom: 8%;   /* lässt etwas Platz nach einem Bild nach unten */
  }

  .inhalt_container p{
    text-align: left;  
    
  }

  .inhalt_container h1{
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 7vw;   /* relativ zur viewport width, zur Breite der Ansicht! So ist die Schriftgröße auch nach RWD gestaltet */
    padding-top: 1%;  /* Damit die Überschrift nicht an der Navigationsbar klebt */
    text-align: center;
  }


  /* für die Titel über den Absätzen/Abschnitten */
  p.überschrift{
    color: rgb(97, 97, 97);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 3.5vw;  /* 2 rem heißt: die Schrift ist 2-mal so groß wie die Schriftgröße des Browsers. Rem gibt einfach das relative Verhältnis an */
    text-align: center;
  }

  /* für normal geschrieben Text, für Absätze, Beschreibungen ... */
  p.fliesstext{
    margin-bottom: 5%;  /* gleich wie bei den Bildern: etwas Abstand nach unten */
    font-size: 2vw;
  }









@media screen and (min-width: 620px) and (max-width: 1024px){

  .inhalt_container{
    max-width: 75%;
  }

  .inhalt_container h1{
    font-size: 8vw;
  }

  p.überschrift{
    font-size: 4.5vw;
  }

  p.fliesstext{
    font-size: 3vw;
  }

}



@media screen and (max-width: 620px){
    
  .inhalt_container{
    max-width: 95%;
  }

  .inhalt_container h1{
    font-size: 9vw;
  }

  p.überschrift{
    font-size: 5.5vw;
  }

  p.fliesstext{
    font-size: 4vw;
  }

}


