/* In Internet gefunden: Reset der Standard-Margin und des -Paddings für das gesamte Dokument. Damit ist die Navigationsleiste bündig am oberen Websiterand */
body, h1, h2, p, div, a {
  margin: 0;
  padding: 0;
}




/* Style */
body {    
  background: linear-gradient(180deg, #a0522d 0%, #8fbc8f 100%);

  font-family: 'Arial', sans-serif;
  line-height: 2;
}

h1{
  line-height: 1.2;   /* Abstand zwischen den einzelnen Zeilen! Bei der Überschrift sieht es sonst komisch aus, sobald sie sich über zwei Zeilen erstreckt */
}





  /* Navigationsbar unten */

  /* Stil für die Navigationsleiste */
  .navigationsbarUnten {
    padding: 15px 0; /* Innenabstand oben und unten */
    display: flex;  /* geben wir das an, behandeln wir die Navigationsleiste als Flexbox, darum können wir justify content und align items benutzen */
    justify-content: center;     /* justify content richtet die Elemente nach der Horizontalen aus */
    align-items: center;         /* align items richtet die Elemente nach der Vertikalen aus */
    background-color: black;  /* Hintergrundfarbe des Footerblocks */
    height: 100%;
  } 


/* selbe Klasse, aber nur für die Links geltend (deshalb das a) */
.navigationsbarUnten a {
  text-decoration: none;
  color: #ffffff; /* Schriftfarbe */
  font-size: 100%;
  font-weight: bold;
  margin: 0 15px; /* Abstand zwischen den Elementen sowie zwischen dem Seitenrand links und rechts. 0 15 heißt: 0 für oben und unten, 15 für links und rechts */
}

/* Hover-Effekt für die Navigationsbar-Elemente */
.navigationsbarUnten a:hover {
  text-decoration: underline !important;
}


footer{
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  text-align: center;
}









/* Container für den Inhalt (Text, Bilder, Überschriften, ...) */
.inhalt_container {
  max-width: 60%; 
  margin: 0 auto; /* Margin ist der Abstand des Containers nach außen. 0 setzt den Rand oben und unten auf 0, auto setzt den Rand links und rechts auf automatisch */
  padding: 20px; /* Innenabstand des Containers */
  
  /* Ausrichtungseinstellungen */
  display: flex;              /* damit wird jedes Element als Flexbox betrachtet */
  flex-direction: column;     /* die Flexbox Elemente sollen untereinander, als Säule, angeordnet werden */
  justify-content: center;    /* Elemente sind horizontal mittig platziert (Wichtig bei Überschriften, Bildern, ...) */
  align-items: center;        /* Ordnet die Elemente auf vertikaler Ebene mittig an */

  /* Dekorations-Linien links und rechts */
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(3, 3, 3)
}

/* bestimmt alle Bilder innerhalb des Containers. Außerdem: gewichtiger als die Größenfestlegung in der HTML Datei */
.inhalt_container img{
  width: 100%;     /* Damit sich das Bild anpasst: die Prozentangabe!  */
  height: auto;
  margin-bottom: 8%;   /* lässt etwas Platz nach einem Bild nach unten */
}

.inhalt_container p{
  text-align: left;  
}

.inhalt_container h1{
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 7vw;   /* relativ zur viewport width, zur Breite der Ansicht! So ist die Schriftgröße auch nach RWD gestaltet */
  padding-top: 1%;  /* Damit die Überschrift nicht an der Navigationsbar klebt */
  text-align: center;
}


/* für die Titel über den Absätzen/Abschnitten */
p.überschrift{
  color: rgb(97, 97, 97);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 3.5vw;  /* 2 rem heißt: die Schrift ist 2-mal so groß wie die Schriftgröße des Browsers. Rem gibt einfach das relative Verhältnis an */
  text-align: center;
}

/* für normal geschrieben Text, für Absätze, Beschreibungen ... */
p.fliesstext{
  margin-bottom: 5%;  /* gleich wie bei den Bildern: etwas Abstand nach unten */
  font-size: 2vw;
  text-align: justify; /* Verteilt den Text gleichmäßig auf die Breite des Containers! */
}






/* Responsive Web Design */

/* mittlere Bildschirme: Etwas runterskalieren */
@media screen and (min-width: 620px) and (max-width: 1024px){
  
  .inhalt_container{
    max-width: 75%;
  }

  .inhalt_container h1{
    font-size: 8vw;
  }

  p.überschrift{
    font-size: 4.5vw;
  }

  p.fliesstext{
    font-size: 3vw;
  }
}

/* kleine Bildschirme: weit runter skalieren */
@media screen and (max-width: 620px){
    
  .inhalt_container{
    max-width: 95%;
  }

  .inhalt_container h1{
    font-size: 9vw;
  }

  p.überschrift{
    font-size: 5.5vw;
  }

  p.fliesstext{
    font-size: 4vw;
  }
}










